<div id="language_selection">
    <div class="lang"><a href="?lang=nl">NL</a></div>
    <div class="lang"><a href="?lang=us">EN</a></div>
    <!-- de reden voor US ipv EN is omdat de browser anders niet wilt switchen -->
</div>
<style>
    #language_selection{
        position: fixed;
        right: 0;
        top: 0;
        display: flex;
        flex-direction: row;
        width: min-content;
        height: min-content;
    }
    .lang{
        width: 2rem;
        height: 2rem;
        border-radius: 1rem;
        background-color: white;
        color: cadetblue;
        font-size: 1rem;
        display: flex;
        margin: 0.2rem;
    }
    .lang:hover{
        background-color: #ddd;
    }
    .lang a{
        text-decoration: none;
        margin: auto;
    }
</style>
